[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
eel = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
pyproject-flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pre-commit = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
