#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.cards__item {
    width: 50%;
}

.cards__item__content {
    display: flex;
}

.cards__item__content__value {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
